#title{
  background-color: #ff4c68;
  color: white;
}

/* Feature Section */
#features{
  padding: 7% 15%;
  background-color: #ffff;
  position: relative;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Testimonial text */
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

/* Feature Box header */
h3 {
  font-family: "Montserrat-Bold";
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* Feature parragraph */
p {
  color: #8f8f8f;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-btn{
  margin: 5% 0 5% 3%;
}

/* Title Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature Box */
.feature-box {
  text-align: center;
  padding: 5%;
}

/* Feature Icon */
.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Image */
.testimonial-img {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Logos */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Carousel-item */
.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */
.pricing-col{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  .title-img {
    position: static;
    transform: rotate(0);
  }

}
